/* CSS BY Leanna Chan */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font: 'Playfair Display', serif;
}

/* GLOBAL STYLES (mobile first/small) */
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: var(--linen);
    color: var(--dark-charcoal);
}

header, footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);

}

header img {
    display: block;
    align-items: center;
    margin: 0 auto;

}

header h1 {
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

header p {
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 0 2rem 1.5rem;
}

h2 {
    font-size: 3.75rem;
    font-weight: 500;
    color: var(--midnight-blue);
    padding-top: 1rem;
    padding-bottom: 1.75rem;
}

h3 {
    font-size: 3.15rem;
    font-weight: bold;
    color: var(--soft-white);
    padding: 0.3rem 0 0.5rem;
}

p, ul {
    font-size: 1.95rem;
    line-height: 1.5;
    font-weight: 440;
}

nav {
    background-color: var(--champagne-gold);
    padding: 1rem;

}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 2.65rem;
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: 860;
}

main {
    display: block;
    margin: 4.5rem 3.5rem;
}

hr {
    border: solid var(--champagne-gold);
}

#about, #offerings, #gallery {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

#offerings {
    display: grid;
    color: var(--soft-white);
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

}

#offerings section {
    background-color: var(--olive-green);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px;
}

#offerings ul {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0 2rem;
    margin-left: 0;
}

img {
    width: 100%;
    height: auto;
}

#gallery .gallery-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 1.75rem 0;
}

#gallery figure {
    background-color: var(--soft-white);
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 8px;
}



#gallery figure {
    background-color: var(--soft-white);
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 20px;
}

#gallery figcaption {
    padding: 1rem;
    font-style: italic;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.4;
}

#gallery a {
    display: flex;
    justify-content: center;
    background-color: var(--olive-green);
    color: var(--soft-white);
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 0.6rem;
    padding: 2rem;
}

footer {
    padding-top: 7rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
    text-align: center;
    flex-direction: column;
    line-height: 1.4;
}

footer #contact {
    font-size: 1.7rem;
}

footer #socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--champagne-gold);
}

/* MEDIA QUERY (medium) */

@media screen and (min-width: 600px) {
    #offerings {
        display: grid;
        color: var(--soft-white);
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #offerings h2 {
        grid-column: 1 / -1;
    }

    #offerings h3 {
        font-size: 2.9rem;
        line-height: 1.4;
    }

    #offerings section:last-of-type {
        grid-column: 1 / -1;
    }

    #gallery .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 1.75rem 0;
    }
}

/* MEDIA QUERY (large) */

@media screen and (min-width: 900px) {
    #offerings {
        display: grid;
        color: var(--soft-white);
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #offerings h2 {
        grid-column: 1 / -1;
    }

    #offerings h3 {
        font-size: 2.9rem;
        line-height: 1.4;
    }

    #offerings section:last-of-type {
        grid-column: 1 / -1;
    }

    #gallery .gallery-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 1.75rem 0;
    }
}

/* MEDIA QUERY (xl) */

@media screen and (min-width: 1200px) {
    #offerings {
        display: grid;
        color: var(--soft-white);
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #offerings h2 {
        grid-column: 1 / -1;
    }

    #offerings section:last-of-type {
        grid-column: 1 / -1;
    }

    #gallery .gallery-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        padding: 1.75rem 0;
    }
}